/* CSS Reset */

/* *, *::before, *::after {
  box-sizing: border-box;
} */

* {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* CSS Implementation below */

body {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

  /* header + nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav1 {
    display: flex;
    width: 60%;
    padding-left: 5%;
}

.nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    
}

/* article */

article {
    padding: 1rem;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result h2 {
    text-align: center;
    max-width: 50%;
    line-height: 1.1;
}

.desplegables {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.productos {
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    text-align: center;
}

.ordenar {
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: minmax(100px, 220px) minmax(100px, 220px);
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width:768px) {
    .cards {
        grid-template-columns: repeat(3, minmax(100px, 250px));
    }
}

@media screen and (min-width:1052px) {
    .cards {
        grid-template-columns: repeat(4, minmax(100px, 250px));
    }
}

.cards img {
    width: 100%;
    height: auto;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item-card-name {
    max-width: 80%;
    text-align: center;
    line-height: 1.25;
}

.item-card-price {
    text-align: center;
    color: grey;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 15%;
}

